<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>Hi,welcome</h3>
    <p th:text="${param.welcome}">Welcome to TreeHole!</p>
    <p>Today is: <span th:text="${today}">13 february 2011</span>.</p>

    <p>Please select an option</p>
    <ol>
        <li><a href="product/list.html" th:href="@{/product/list}">Product List</a></li>
        <li><a href="order/list.html" th:href="@{/order/list}">Order List</a></li>
        <li><a href="subscribe.html" th:href="@{/subscribe}">Subscribe to our Newsletter</a></li>
        <li><a href="userprofile.html" th:href="@{/userprofile}">See User Profile</a></li>
    </ol>
    <p>
        Now you are looking at a <span th:text="'working web application'">template file</span>.
    </p>

    <div th:insert="~{footer :: copy}"></div>
</body>
</html>